.middle{
    display: flex;
    flex-direction: column;
    flex: 5;
}

.middle-top{
    text-align: center;
    border: 2px solid purple;
    height: 10vh;
}

.middle-bottom{
    border: 2px solid blue;
    height: 90vh;
}

input {
    width: 40vw;
}